{% if isinstance(tree, dict) %}
<ul>{% for title, subtree in sorted(tree.items()) %}
	<li>{{ title }}
		{% while isinstance(subtree, dict) and len(subtree) == 1 %}
			{# This is an ugly hack to get the first entry from a dict we know is just 1 element #}
			{% for title, subtree in sorted(subtree.items()) %}
				{% break %}
			{% end %}
		&raquo; {{ title }}
		{% end %}
		{% module Template('org-backlink-tree.html', tree=subtree) %}
	</li>{% end %}
</ul>
{% elif isinstance(tree, list) %}
<ul>{% for point in reversed(tree) %}
	<li>{{ point }}</li>{% end %}
</ul>
{% else %}
	{{ tree }}
{% end %}
