{% extends "base-template.html" %}

{% block page_title %} Second Brain - {% block document_title %}Entry List{% end %}{% end %}

{% block body %}
	<form>
		<label for="entry-filter">filter</label>
		<input type="text" name="filter" id="entry-filter" />

		<input type="submit" value="search" />
	</form>
	<ul id="entry-list">{% for entry in entries %}
		<li data-title="{{ entry.title }}"><a href={{ entry.file }}>{{ entry.title }}</a></li>
		{% end %}
	</ul>
	<script>
		function filterChange(event) {
			let filterString = event
						.target
						.value
						.split(/\s+/)
						.filter(Boolean)
						.map((s)=> `(?=.*${s})`)
						.join("");

			let items = document.getElementById("entry-list").getElementsByTagName("li");

			let filterRegexp = new RegExp("^" + filterString, "i");

			for (let i = 0; i < items.length; ++i) {
				let li = items[i];
				let isMatch = filterRegexp.test(li.dataset.title);
				li.style.display = (isMatch ? null : "none");
			}

		}

		var filterElement = document.getElementById("entry-filter");

		filterElement.addEventListener("input", filterChange);
		filterElement.addEventListener("paste", filterChange);
	</script>
{% end %}
